html {
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f0eee8;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  text-decoration: none;
  text-align: center;
  background-color: #dcd4cd;
  margin: 0 0 1rem;
  padding: 1rem;
  padding-top: 0;
  border-style: solid;
  border-color: #9a816d;
  border-radius: 6px;
  border-width: 3px;
  display: inline-block;
}

.link-card:hover {
  background-color: #cabdb2;
}

.card {
  text-decoration: none;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  color: #512200;
  font-size: 1.5rem;
  margin: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: left;
}

.info {
  color: #512200;
  max-width: 17em;
  font-size: 1rem;
  margin: 0;
  padding-bottom: 1em;
  text-align: left;
}

.list {
  text-align: left;
  display: block;
  color: #512200;
  font-size: .875rem;
  margin: 0 0 1rem;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #9a816d;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #9a816d;
}

.list dt {
  float: left;
  width: 50%;
}

.list dd {
  font-style: italic;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0;
  padding: .4em .75em .5em;
  border-radius: 8px;
  border-width: 2px;
  color: #fff;
  background-color: #785439;
}
